.laugh {
    margin-bottom: 45px;

    .laugh-image {
        img {
            width: 100%;
        }
    }

    &.laugh-detail {
        .laugh-image {
            text-align: center;
            margin: 10px 0;

            img {
                max-width: 100%;
                width: auto;
            }
        }

        .laugh-info {
            div {
                display: inline-block;
                margin: 0 10px 0 0;
            }
        }
    }

    h1 {
        margin: 0;
    }

    .laugh-title {
        font-size: 1.8em;
        font-weight: bold;
        line-height: 100%;

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }
}
