.laugh {
    margin-bottom: 45px;

    .laugh-image {
        img {
            width: 100%;
        }
    }

    &.laugh-detail .laugh-image {
        text-align: center;

        img {
            max-width: 100%;
            width: auto;
        }
    }

    h1 {
        margin: 0 0 10px 0;
    }

    .laugh-title {
        font-size: 1.8em;
        font-weight: bold;
        line-height: 100%;

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }
}
