<footer>
    <div class="footer-container">
        <%= image_tag("logoe-footer.png") %>
        <span class="copy pull-right">
            &copy; <a href="http://deranged.dk" target="_blank">deranged</a> 2014. All rights reserved.
        </span>
    </div>
</footer>
