<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collaps" data-target="#betternavigation">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/"><%= image_tag("logoe-header.png") %></a>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="betternavigation">
        <ul class="nav navbar-nav">
            <li><a href="/laughs/new">Upload</a></li>
        </ul>
    </div>
</nav>
